extends layout

block content
  a(href="/auth/github") GitHubでログイン
  br
  a(href="/auth/google") googleでログイン
  if user
    p 現在 #{user.username || user.name.givenName || user.name.familyName} (#{user.provider})でログイン中